@use 'color';
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Lato:300,400,700,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Lato, Arial, Helvetica;
}

#container {
  text-align: center;
}

.content {
  margin-top: 100px;
}

header {
  z-index: 100;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  padding: 20px 50px;
  box-shadow: 0 1px 8px #ddd;
  margin-bottom: 30px;
  background-color: #fff;
  display: flex;

  #nav-logo {
    max-width: 100px;
    margin-right: auto;
  }  

  li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;

    a {
      text-decoration: none;
      color: color.$blue-engie;
      transition: all 0.3s ease 0s;
      font-size: 1.2em;

      &:hover {
        padding-bottom: 15px;
        border-bottom: 2px solid color.$blue-engie;
      }
    }
  }
}

.button_blue {
  margin: 0% 0% 2% 10%;
  background-color: white;
  border: solid 1px color.$blue-engie;
  color: color.$blue-engie;
  border-radius: 5px;
  padding: 4px;

  &:hover {
    background-color: color.$blue-engie;
    color: white;
  }
}

#title {
  text-align: center;
}

.table_scroll {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center;
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 82%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;

  thead tr {
    background-color: color.$blue-engie;
    color: #ffffff;
  }

  th, td {
    padding: 12px 15px;
  }

  tbody tr {
    border-bottom: 1px solid #dddddd;

    &:nth-of-type(even) {
      background-color: #f3f3f3;
    }

    &:last-of-type {
      border-bottom: 2px solid color.$blue-engie;
    }
  }
}

.table_style {
  text-align: center;
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 80%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;

  thead tr {
    background-color: color.$blue-engie;
    color: #ffffff;
  }

  th, td {
    padding: 12px 15px;
  }

  tbody tr {
    border-bottom: 1px solid #dddddd;

    &:nth-of-type(even) {
      background-color: #f3f3f3;
    }

    &:last-of-type {
      border-bottom: 2px solid color.$blue-engie;
    }
  }
}


form{
  margin: auto;
  width: 90vw;
  max-width: 768px;
  border: 1px solid #ddd;
  padding: 10px 30px 10px 30px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-bottom: 20px;

  .button_form {
    margin: auto;
    margin-bottom: 5px;
    background-color: white;
    border: solid 1px color.$blue-engie;
    color: color.$blue-engie;
    border-radius: 5px;
    padding: 4px;
    width: 40%;
  
    &:hover {
      background-color: color.$blue-engie;
      color: white;
    }
  }
}


input, select{
  width:100%;
  border:none;
  outline:none;

  &:focus, &:hover{
    border-bottom:1px solid color.$blue-engie;
  }
}

.cards {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  margin-top: 20px;

  .card_item {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 5px;
    text-align: center;
    width: 30%;
    margin-bottom: 20px;

    .card_title {
      text-align: center;
      font-size: 24px;
      border-bottom: 1px solid color.$blue-engie;
    }

    .card_text {
      padding-top: 5px;
    }

    .button_blue {
      margin: 10px;
      padding: 0;
      width: 30%;
    }
  }
}

.help {

  display: flex;
  flex-direction: column;
  text-align: justify;

  margin-left: 10%;
  margin-right: 10%;
  
  ul{
    list-style: none;
  }

  button {
    margin: 2px;
    background-color: white;
    border: solid 1px color.$blue-engie;
    color: color.$blue-engie;
    border-radius: 5px;
  
    &:hover {
      background-color: color.$blue-engie;
      color: white;
    }
  }
}

