@use 'color';
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Lato:300,400,700,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Lato, Arial, Helvetica;
}

#container {
  text-align: center;
}

.button_blue {
  margin: 0% 0% 2% 10%;
  background-color: white;
  border: solid 1px color.$blue-engie;
  color: color.$blue-engie;
  border-radius: 5px;
  padding: 4px;

  &:hover {
    background-color: color.$blue-engie;
    color: white;
  }
}

#title {
  text-align: center;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
  box-shadow: 0 1px 8px #ddd;
  margin-bottom: 30px;

  #nav-logo {
    max-width: 100px;
    margin-right: auto;
  }  

  li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;

    a {
      text-decoration: none;
      color: color.$blue-engie;
      transition: all 0.3s ease 0s;
      font-size: 1.2em;

      &:hover {
        padding-bottom: 15px;
        border-bottom: 2px solid color.$blue-engie;
      }
    }
  }
}

.table_style {
  text-align: center;
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 80%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  thead tr {
    background-color: color.$blue-engie;
    color: #ffffff;
  }

  th, td {
    padding: 12px 15px;
  }

  tbody tr {
    border-bottom: 1px solid #dddddd;

    &:nth-of-type(even) {
      background-color: #f3f3f3;
    }

    &:last-of-type {
      border-bottom: 2px solid color.$blue-engie;
    }
  }
}

form{
  width:90vw;
  max-width:768px;
  border:1px solid #ddd;
  padding:3vw;
  display:flex;
  flex-direction:column;
  border-radius:5px;
}

label{
  margin-bottom:15px;
  position:relative;
  border-bottom:1px solid #ddd;
}

input{
  width:100%;
  padding:10px 0px;
  margin-top:20px;
  border:none;
  outline:none;

  &:focus, &:hover{
    border-bottom:1px solid color.$blue-engie;
  }
}
input::placeholder{
  opacity:0;
}
span{
  position:absolute;
  top:0;
  left:0;
  transform:translateY(30px);
  font-size:0.825em;
  transition-duration:300ms;
}

label:focus-within > span,
input:not(:placeholder-shown) + span{
    color: color.$blue-engie;
    transform:translateY(0px);
}


